$body-bg: #eee !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
) !default;
$font-family-base: "Open Sans", sans-serif;
$font-size-base: 0.8125rem;
$line-height-base: 1.538;
$h2-font-size: 28px;
$headings-color: #0eb493;
$headings-font-weight: 800;
